body {background-color:cornflowerblue;}
garage-title {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
h1{
  text-align: center;
}
h2{
    text-align: center;
  }
.card1
 {
    background-color: yellow; /* Green */
    border: none;
    color: white;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }
  .card2 {
    background-color:orangered; /* Green */
    border: none;
    color: white;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }
  .card3 {
    background-color: blueviolet; /* Green */
    border: none;
    color: white;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }

  .card5{
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }
  .card6 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }
  .blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}